In [56]:
import pandas as pd

In [59]:
df = pd.read_csv('./data/openaq.csv', sep=';', encoding ="utf8")

In [60]:
df

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
0,CN,石嘴山市,妇女儿童医院,"38.9836,106.3495",NO2,ChinaAQIData,µg/m³,5.0,2021-08-09T13:00:00+02:00,China
1,CN,石嘴山市,妇女儿童医院,"38.9836,106.3495",SO2,ChinaAQIData,µg/m³,5.0,2021-08-09T13:00:00+02:00,China
2,CN,泰州市,姜堰区政府广场,"32.5099,120.1259",SO2,ChinaAQIData,µg/m³,2.0,2021-08-09T13:00:00+02:00,China
3,CN,绵阳市,安州区旅游局,"31.5343,104.5648",PM10,ChinaAQIData,µg/m³,39.0,2021-08-09T13:00:00+02:00,China
4,CN,雄安新区,安新县电力局,"38.9338,115.9324",O3,ChinaAQIData,µg/m³,181.0,2021-08-09T13:00:00+02:00,China
...,...,...,...,...,...,...,...,...,...,...
41023,BA,Sarajevo,mobilna (Ilidža),"43.83,18.311",CO,Bosnia,µg/m³,316.0,2016-11-27T12:00:00+01:00,Bosnia and Herzegovina
41024,BA,Kakanj,Doboj,NaN,PM10,Bosnia,µg/m³,33.0,2018-03-14T13:00:00+01:00,Bosnia and Herzegovina
41025,GR,ΑΤΤΙΚΗ,GR0032A,"37.99945831,23.73304749",O3,EEA Greece,µg/m³,60.0,2021-10-25T05:00:00+02:00,Greece
41026,GR,ΑΤΤΙΚΗ,GR0022A,"38.03083801,23.78735733",CO,EEA Greece,µg/m³,300.0,2021-10-25T11:00:00+02:00,Greece
41027,GR,ΔΥΤΙΚΗ ΕΛΛΑΔΑ,GR0048A,"38.24597549,21.73589706",NO2,EEA Greece,µg/m³,33.0,2021-10-25T11:00:00+02:00,Greece

In [42]:
print(f"Il y a {df.shape[0]} features  et {df.shape[1]} colomnes dans cette dataframe.")

Il y a 41028 features  et 10 colomnes dans cette dataframe.

In [43]:
print(f"Voici les noms des colomnes :")
for i in df.columns:
    print(i)

Voici les noms des colomnes :
Country Code
City
Location
Coordinates
Pollutant
Source Name
Unit
Value
Last Updated
Country Label

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41028 entries, 0 to 41027
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Code   41028 non-null  object
 1   City           40909 non-null  object
 2   Location       41023 non-null  object
 3   Coordinates    38517 non-null  object
 4   Pollutant      41028 non-null  object
 5   Source Name    41028 non-null  object
 6   Unit           41028 non-null  object
 7   Value          41028 non-null  float64
 8   Last Updated   41028 non-null  object
 9   Country Label  40967 non-null  object
dtypes: float64(1), object(9)
memory usage: 3.1+ MB

In [45]:
df.describe()

               Value
count   41028.000000
mean      107.908427
std      4546.922428
min   -335582.000000
25%         2.600000
50%        13.000000
75%        39.592500
max    825736.000000

##  Nombre de valeurs manquantes

In [46]:
df.isna().sum()

Country Code        0
City              119
Location            5
Coordinates      2511
Pollutant           0
Source Name         0
Unit                0
Value               0
Last Updated        0
Country Label      61
dtype: int64

In [47]:
# Convertir "Last Updated" en datetime
#df["Last Updated"] = pd.to_datetime(df["Last Updated"])
df["Last Updated2"] = pd.to_datetime(df["Last Updated"].str[0:10])

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41028 entries, 0 to 41027
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Code   41028 non-null  object
 1   City           40909 non-null  object
 2   Location       41023 non-null  object
 3   Coordinates    38517 non-null  object
 4   Pollutant      41028 non-null  object
 5   Source Name    41028 non-null  object
 6   Unit           41028 non-null  object
 7   Value          41028 non-null  float64
 8   Last Updated   41028 non-null  object
 9   Country Label  40967 non-null  object
 10  Last Updated2  41028 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 3.4+ MB

In [49]:
df

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label,Last Updated2
0,CN,石嘴山市,妇女儿童医院,"38.9836,106.3495",NO2,ChinaAQIData,µg/m³,5.0,2021-08-09T13:00:00+02:00,China,2021-08-09
1,CN,石嘴山市,妇女儿童医院,"38.9836,106.3495",SO2,ChinaAQIData,µg/m³,5.0,2021-08-09T13:00:00+02:00,China,2021-08-09
2,CN,泰州市,姜堰区政府广场,"32.5099,120.1259",SO2,ChinaAQIData,µg/m³,2.0,2021-08-09T13:00:00+02:00,China,2021-08-09
3,CN,绵阳市,安州区旅游局,"31.5343,104.5648",PM10,ChinaAQIData,µg/m³,39.0,2021-08-09T13:00:00+02:00,China,2021-08-09
4,CN,雄安新区,安新县电力局,"38.9338,115.9324",O3,ChinaAQIData,µg/m³,181.0,2021-08-09T13:00:00+02:00,China,2021-08-09
...,...,...,...,...,...,...,...,...,...,...,...
41023,BA,Sarajevo,mobilna (Ilidža),"43.83,18.311",CO,Bosnia,µg/m³,316.0,2016-11-27T12:00:00+01:00,Bosnia and Herzegovina,2016-11-27
41024,BA,Kakanj,Doboj,NaN,PM10,Bosnia,µg/m³,33.0,2018-03-14T13:00:00+01:00,Bosnia and Herzegovina,2018-03-14
41025,GR,ΑΤΤΙΚΗ,GR0032A,"37.99945831,23.73304749",O3,EEA Greece,µg/m³,60.0,2021-10-25T05:00:00+02:00,Greece,2021-10-25
41026,GR,ΑΤΤΙΚΗ,GR0022A,"38.03083801,23.78735733",CO,EEA Greece,µg/m³,300.0,2021-10-25T11:00:00+02:00,Greece,2021-10-25
41027,GR,ΔΥΤΙΚΗ ΕΛΛΑΔΑ,GR0048A,"38.24597549,21.73589706",NO2,EEA Greece,µg/m³,33.0,2021-10-25T11:00:00+02:00,Greece,2021-10-25

## Supprimer les données qui ne concernent pas la journée du 06-08-2021

In [50]:
df = df[df["Last Updated2"] == '2021-06-08']

In [51]:
df

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label,Last Updated2
13101,TH,Bueng Kan,Bueng Kan District Office,"18.358249,103.652055",PM10,Air4Thai,µg/m³,33.00,2021-06-08T20:00:00+02:00,Thailand,2021-06-08
19898,TH,Tak,"Non-Formal Education Centre, Mea Sot","16.734413,98.566961",CO,Air4Thai,ppm,0.24,2021-06-08T20:00:00+02:00,Thailand,2021-06-08
28029,TH,Bueng Kan,Bueng Kan District Office,"18.358249,103.652055",PM2.5,Air4Thai,µg/m³,18.00,2021-06-08T20:00:00+02:00,Thailand,2021-06-08

## Supprimer les données qui sont illisibles et pour lesquelles on ne comprend pas la ville concernée

## Pour chaque polluant, vérifier qu'on n'a qu'une seule mesure utilisée. Autrement, supprimer les données qui correspondent à la mesure minoritaire ou moins cohérente

In [ ]:
df = df.drop_duplicates("Pollutant")

## Regarder s'il y a des valeurs aberrantes ou des problèmes par rapport à notre objectif final (pouvoir comparer des mesures sur un maximum de pays) et noter ces aspects dans un fichier texte